#!/bin/bash
set -e

dnf update -y

dnf install -y python3.11 python3.11-pip git awscli

cd /home/ec2-user

# Clone application
git clone https://github.com/Hasireddy/RAG-with-RBAC app

chown -R ec2-user:ec2-user /home/ec2-user/app

cd /home/ec2-user/app

# Retrieve API key from AWS Systems Manager Parameter Store
API_KEY=$(aws ssm get-parameter \
  --name "/rag/openai_api_key" \
  --with-decryption \
  --query "Parameter.Value" \
  --output text)

cat > /home/ec2-user/app/.env <<EOF
API_KEY=${API_KEY}
EOF

chown ec2-user:ec2-user /home/ec2-user/app/.env

# Load environment variables
export $(grep -v '^#' /home/ec2-user/app/.env | xargs)

# Install dependencies
python3.11 -m pip install --upgrade pip
python3.11 -m pip install -r requirements.txt

# Start FastAPI
nohup python3.11 -m uvicorn app.main:app \
  --host 0.0.0.0 \
  --port 8000 \
  > /home/ec2-user/app.log 2>&1 &

echo "Application started" >> /home/ec2-user/app.log